{% extends "layout.html" %}
{% block body %}
<script>

  var socket = 'ws://' + location.host + ':6789';

function start(socket){
  connection = new WebSocket(socket);

  connection.binaryType = 'arraybuffer';

  connection.onopen = function()
  {
    $("#messages").append('Connected!');
  };

 connection.onmessage = function(e)
 {
  var sockMess = new Array();
  sockMess = e.data.split("%");
  if (sockMess[0] == 'done') 
   { 
    $("#messages").html('done!');
   }
   else if (sockMess[0] == 'error') {
    
    $("#messages").html('error!');
  }
  connection.onclose = function(){
        setTimeout(function(){start(socket)}, 5000);
   }
 }

start(socket);

</script>
  <h2>Admin</h2>
  <span> {{entries|length}} entries.</span>
  <span> {{envs|length}} environments.</span>
  <span> {{sensors|length}} sensors.</span>
  <span> {{actuators|length}} readers.</span> 
  <div>
   <a href="{{ url_for('update_gesi') }}" data-role="button">Update Database</a>
  </div>
{% endblock %}
