{% extends "layout.html" %}
{% block panel %}
{% endblock %}
{% block body %}
   <div data-role="content" data-theme="b">

<!-- environment menu buttons -->

    <fieldset data-role="controlgroup" data-theme="b" data-type="horizontal" >
     <legend>Environment:</legend>
{% for path in envs %}
     <input name="{{ path.env_title }}" class="env-nav" id="{{ path.env_title }}-i" 
  {% if path.title == env %}  checked="checked" 
  {% endif %} type="radio">
     <label for="{{ path.env_title }}-i">{{ path.env_title }}</label>
{% endfor %}
    </fieldset>
<!--
   <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
    <a href="#addDial" date-rel="dialog" class="ui-btn small-btn">Add Environment</a>
    <a href="#delDial" date-rel="dialog" class="ui-btn small-btn">Remove Environment</a>
    <a href="#blacklist" date-rel="dialog" class="ui-btn small-btn">Blacklisted Files</a>
    </fieldset>
-->


<!-- density menu buttons -->
<div data-role="collapsible-set" data-theme="a" data-inset="false" id="dens-sort">
 {% for p in path %}
    <div data-role="collapsible" data-theme="b" data-content-theme="b" id="{{ p.density }}">
     <h2>{{ p.density }}</h2>
     <ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true">
{% for s in sounds %}
{% if p.id == s.sub_id %}
      <li><a href="#">{{ s.title }}</a><a href="#edit-snd" class="edit-b" data-position-to="window">{{ s.title }}</a></li>
{% endif %}
{% endfor %}
      </ul>
    </div>
{% endfor %}
</div>
<!-- Upload files -->

<!-- The fileinput-button span is used to style the file input field as button -->

   <span class="btn btn-success fileinput-button" data-role="none">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add files...</span>
<!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="file" multiple data-role="none">
    </span>
   <br>
   <br>
<!-- The global progress bar -->
  <div id="progress" class="progress">
   <div class="progress-bar progress-bar-success"></div>
    </div>
<!-- The container for the uploaded files -->
   <div id="files"></div>
    </div><!-- /content-->


<!-- save panel -->
     <div data-role="panel" data-display="overlay" id="save-snd-div" data-theme="b">
      <label for="save-snd-val">Save as...</label>
      <input type="text" data-theme="b" id="save-snd-val" name="save-snd-val"/>
      <div data-role="collapsible-set" data-theme="b" data-content-theme="a" id="save-snd-list">
<!-- this content is loaded with javascript -->
       </div>
      </div><!-- /panel saveas -->

<!-- sound editor -->
     <div data-role="panel" data-display="overlay" id="edit-snd" data-theme="b">
      <table style="td {padding: 10px;text-align: left;}">
       <th id="snd-title" colspan="2"></th>
       <tr>
        <td colspan="2" >
         <div data-role="controlgroup"  data-type="horizontal" data-theme="b">
          <button class="ui-btn ui-corner-all ui-icon-audio ui-shadow ui-btn-icon-left l_play snd-control" value="play"></button>
          <button class="ui-btn ui-icon-grid ui-btn-icon-left ui-corner-all snd-control" value="stop"></button>
          </div>
         </td>
        </tr>
       <tr><td>Rate:</td><td id="snd-samplerate"></td></tr>
       <tr><td>Length:</td><td id="snd-length"></td></tr>
       <tr><td>Channels:</td><td id="snd-channels"></td></tr>
       <tr><td>Resolution:</td><td id="snd-resolution"></td></tr>
       <tr>
        <td>
         <label for="volume-nbx">Volume:</label>
         </td>
        <td>
         <input type="range" id="volume-nbx" name="volume-nbx" style="width:50px" readonly>
         </td>
        </tr>
       <tr>
        <td colspan="2">
         <div id="snd-volume" style="height:18px"></div>
         </td>
        </tr>
       <tr>
        <td>
         <label for="pan-nbx">Pan:</label>
         </td>
        <td>
         <input type="range" id="pan-nbx" name="pan-nbx" style="width:50px" readonly>
         </td>
        </tr>
       <tr>
        <td colspan="2">
         <div id="snd-pan" style="height:18px"></div>
         </td>
        </tr>
       <tr>
        <td><label for="snd-start">Start:</label></td>
        <td><input type="range" id="snd-start" name="snd-start" style="width:100px" readonly></td>
        </tr>
       <tr>
        <td><label for="snd-stop">Stop:</label></td>
         <td><input type="range" id="snd-stop" name="snd-stop" style="width:100px" readonly></td>
        </tr>
       <tr>
        <td colspan="2">
        <div id="snd-range" style="height:18px"></div>
        </td>
       </tr>
      </table> 
     <div class="sndtab-edit" style="display:none">
      <label for="pitch-nbx">Pitch:</label>
      <input type="range" id="pitch-nbx" name="pitch-nbx" style="width:50px" readonly>
      <div id="snd-pitch"></div>
      </div>
     <div data-role="controlgroup"  data-mini="true" data-type="horizontal" data-theme="b">
      <button class="ui-btn ui-icon-plus ui-btn-icon-left ram">RAM</button>
      <a href="#save-snd-div" id="save-snd-as" class="ui-btn ui-icon-action ui-btn-icon-left">Save as...</a>
      <a href="#" id="save-snd" class="ui-btn ui-icon-check ui-btn-icon-left">Save</a>
      <a href="#panel" data-rel="close" class="ui-btn ui-icon-delete ui-btn-icon-left">Close panel</a>
      </div>
     </div><!-- /panel edit-->
    <script>
	
$(".ui-dialog").dialog('close');

// this add environment is obsolete
   $('#addEnv').click(function() {
     var env = $('#envName').val();
     var url = flask_util.url_for('add_env', {env: env });
     window.location='/';
     $.post(url);
      });

// this del environment is obsolete  
   $('#delEnv').click(function() {
     var url = flask_util.url_for('del_env', {env: '{{ env }}' });
     window.location='/';
     $.post(url);
      });

// this switch DSP is not used yet
  $( '.switch' ).bind( "change", function(event, ui) {
     var url = flask_util.url_for('pdsend', {message: 'switch ' + $(".switch").val() });
     $.post(url)
     });


// for navigating through environment with buttons, this refreshes page, and nearly obsolete...
   $('.env-nav').click(function() {
       window.location = '/?env=' +$( this ).attr('name')
      });

// this class is used to play a sound in pd monitoring patch
    $(".l_play").click(function() {
        var $button = $( this );
        var url = flask_util.url_for('pdsend', {message: 'play ' + $button.attr('id') });
        $.post(url)
       });

// this class is used to control sound in pd monitoring patch
    $(".snd-control").click(function() {
        var $button = $( this ).attr('value');
        var $file = $("#snd-id").text();
        var url = flask_util.url_for('pdsend', {message: $button + ' ' + $file });
        $.post(url)
       });

//this class is used to show hidden parameters when sound is loaded into RAM
    $(".ram").click(function() {
        if ( $(".sndtab-edit").css("display") == "none") {
            $(".sndtab-edit").css("display","inherit");
            $( this ).switchClass("ui-icon-plus","ui-icon-minus");
            }
        else {
            $(".sndtab-edit").css("display","none");
            $( this ).switchClass("ui-icon-minus","ui-icon-plus");
            }
       });

//this class is used to blacklist a sound
   $(".del-snd").click(function() {
        var $button = $( this );
        var url = flask_util.url_for('add2blacklist', {id: $button.attr('id') });
        $.post(url)
      });
var DENSITY = '';
var FILE = '';
//this class loads into html sound informations from database
   $(".edit-b").click(function(e) {
      FILE = $( this ).prev("a").text();
      $.getJSON($SCRIPT_ROOT + '/get_file_info', {
         title:  FILE
      }, function(data) {
        var length = data.length.split('s')[0];
        $("#snd-id").text(data.entry_id);
        $("#snd-title").text(data.title);
        $("#snd-samplerate").text(data.samplerate+'hz');
        $("#snd-length").text((length/data.samplerate).toPrecision(5)+'s');
        $("#snd-channels").text(data.channels);
        $("#snd-resolution").text(data.resolution*8+'bits');
//here we attribute slider parameters
        $("#snd-volume").slider({
         value: data.volume,
         orientation: "horizontal",
         range: "min",
         min: 0,
         max: 127,
         animate: true,
         slide: function( event, ui ) {
          $( "#volume-nbx" ).val( ui.value );
          var url = flask_util.url_for('update_file_info',
            { table:'environments', id: data.sound_id,item:'["volume","'+ ui.value+'"]'});
          $.post(url)
          }
        });
        $("#snd-pitch").slider({
         value: data.pitch,
         orientation: "horizontal",
         range: "min",
         min: 0,
         max: 127,
         animate: true,
         slide: function( event, ui ) {
          $( "#pitch-nbx" ).val( ui.value );
          var url = flask_util.url_for('update_file_info',
            { table:'environments', id: data.sound_id,item:'["pitch","'+ ui.value+'"]'});
          $.post(url)
          }
        });
        $("#snd-pan").slider({
         value: data.pan,
         orientation: "horizontal",
         range: "min",
         min: 0,
         max: 100,
         animate: true,
         slide: function( event, ui ) {
          $( "#pan-nbx" ).val( ui.value );
          var url = flask_util.url_for('update_file_info',
            { 
             table:'environments',
             id: data.sound_id,
             item:'["pan","'+ ui.value+'"]'
            });
          $.post(url)
          }
        });
        $("#snd-range").slider({
         orientation: "horizontal",
         range: true,
         min: 0,
         max: parseInt(length),
         animate: true,
         slide: function( event, ui ) {
          var item=['start','stop'];
          for(var i= 0; i < 2; i++) { 
           $("#snd-" + item[i] ).val(ui.values[i]);
           var url = flask_util.url_for('update_file_info',
             {
              table:'wav_slice',  
              id: data.sound_id,
              item:'["' + item[i] + '","' + ui.values[i] + '"]' 
             });
           $.post(url)
           }
          }
        });
//and there we put default values in number boxes
        $("#volume-nbx").val(data.volume);
        $("#pan-nbx").val(data.pan);
        $("#pitch-nbx").val(data.pitch);
        var start = parseInt(data.start.split('s'));
        var stop = parseInt(data.stop.split('s'));
        $("#snd-range").slider('values',0,start);
        $("#snd-range").slider('values',1,stop);
        $("#snd-start").val(start);
        $("#snd-stop").val(stop);
      });
  DENSITY = $( this ).parent().parent().parent().parent().attr('id');
  return true;
  });


// save button  
$("#save-snd").click(function() {
console.log($("#dens-sort").find('ui-collapsible-collapsed').attr('id'));
console.log('test');
  var url = flask_util.url_for('save_snd', {env: '{{ env  }}' , density: DENSITY, name: FILE });
  $.post(url)
  });

// save dialog with ajax in panel  
$("#save-snd-as").click(function() {
  var title = $( '#snd-title' ).text();
  $.getJSON($SCRIPT_ROOT + '/get_tree',
   { "title" : title },
   function(data) {
    var html  = '';
    $.each(data, function(e) {
      var collapse = "";
      if (e != "{{ env  }}") {collapse = "true"} else {collapse = "false"};
      html += '<div data-role="collapsible" class="collapse" data-collapsed="' + collapse + '" \
              data-iconpos="right">';
      html += '<h2>' + e + '</h2>';
      var f = data[e] + '';
      html += '<ul data-role="listview" id="' + e + '-lv"  class="save-snd-d">';
      f.split(',').forEach(function(d) {
        var active  = "";
        html += '<li data-theme="a"><a href="#" id="' + e + d + '-btn" class="snd-dens">' + d + '</a></li>';
        });
      html += '</ul></div>';
      });
    html += '<div><a href="#" id="save-snd-as" class="ui-btn ui-icon-action ui-btn-icon-left">Save</a>';
    html +='<a href="#edit-snd" data-rel="close" class="ui-btn ui-icon-delete ui-btn-icon-left">Cancel</a></div>';
    $("#save-snd-list").html(html);
    $("#save-snd-val").val(title);
    $("#save-snd-list").listview().listview('refresh');
    $('.save-snd-d').listview().listview('refresh');
    $('.collapse').collapsible();
    $("#{{ env }}" + DENSITY + "-btn").addClass("ui-btn-active");
    var env     = '{{ env }}';
    $( ".snd-dens" ).click(function() {
      $( ".snd-dens" ).removeClass("ui-btn-active");
      $(this).addClass('ui-btn-active');
      });
    $("#save-snd-as").click(function() {
      console.log("env:{{ env  }},dens:" + DENSITY + ",name:" + $("#save-snd-val").val());
      var url = flask_util.url_for('save_snd_as', {env: '{{ env  }}' , density: DENSITY, name: $("#save-snd-val").val() });
        $.post(url)
      });
    return true;
    });
  });

// make a sortable list with density collapsed list
 $( "#dens-sort" ).sortable({
    start: function(e, ui) {

   /*   console.log($("#dens-sort").sortable("toArray"));  */
// creates a temporary attribute on the element with the old index
        $(this).attr('data-previndex', $("#dens-sort").sortable("toArray"));
    },
    update: function(e, ui) {
// gets the new and old index then removes the temporary attribute
        var newIndex =  $("#dens-sort").sortable("toArray");
        var oldIndex = $(this).attr('data-previndex');
        $(this).removeAttr('data-previndex');
        var i = 1;
        newIndex.forEach(function(entry) {
          $("#" + i).attr('id',entry);
          i++;
          });
        var JSONoldIndex = JSON.stringify(oldIndex)
        var JSONnewIndex = JSON.stringify(newIndex)
      /*  console.log(JSONnewIndex); */
        var url = flask_util.url_for('order_density', {e: '{{ env  }}' , d: DENSITY ,
          oldId: JSONoldIndex, newId: JSONnewIndex});
        $.post(url);
    }
  });

// this class is not used yet
 $( "#droppable" ).droppable({
            drop: function( event, ui ) {
              $( this )
                .addClass( "ui-state-highlight" )
                .find( "p" )
                  .html( "Dropped!" );
            }
          });

    </script>

   <style>

li.ui-btn-active {
    background-color:       #22aadd !important;
    border-color:           #22aadd !important;
    color:                  #fff !important;
    text-shadow: 0 0 #0088bb !important;
}
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    select {
      width: 200px;
    }
    .overflow {
      height: 200px;
    }
.small-btn {
   font-size: .8em !important;
}
     </style>
<!-- The basic File Upload plugin -->

<script src="{{ url_for('static', filename='upload/canvas-to-blob.min.js') }}"></script>
<!-- blueimp  canvas to blob plugin -->
<script src="{{ url_for('static', filename='upload/load-image.min.js') }}"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included
<script src="{{ url_for('static', filename='upload/vendor/jquery.ui.widget.js') }}"></script> -->
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='upload/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static', filename='upload/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ url_for('static', filename='upload/jquery.fileupload-audio.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ url_for('static', filename='upload/jquery.fileupload-validate.js') }}"></script>
<script>
/*jslint unparam: true, regexp: true */
/*global window, $ */
$(function () {
'use strict';
// Change this to the location of your server-side upload handler:
var url = $SCRIPT_ROOT + '/upload',
 uploadButton = $('<button/>')
.addClass('btn btn-primary')
.prop('disabled', true)
.text('Processing...')
.on('click', function () {
var $this = $(this),
data = $this.data();
$this
.off('click')
.text('Abort')
.on('click', function () {
$this.remove();
data.abort();
});
data.submit().always(function () {
$this.remove();
});
});
$('#fileupload').fileupload({
url: url,
dataType: 'json',
autoUpload: false,
acceptFileTypes: /(\.|\/)(wav|aif)$/i,
maxFileSize: 50000000, // 50 MB
}).on('fileuploadadd', function (e, data) {
data.context = $('<div/>').appendTo('#files');
$.each(data.files, function (index, file) {
var node = $('<p/>')
.append($('<span/>').text(file.name));
if (!index) {
node
.append('<br>')
.append(uploadButton.clone(true).data(data));
}
node.appendTo(data.context);
});
}).on('fileuploadprocessalways', function (e, data) {
var index = data.index,
file = data.files[index],
node = $(data.context.children()[index]);
if (file.preview) {
node
.prepend('<br>')
.prepend(file.preview);
}
if (file.error) {
node
.append('<br>')
.append($('<span class="text-danger"/>').text(file.error));
}
if (index + 1 === data.files.length) {
data.context.find('button')
.text('Upload')
.prop('disabled', !!data.files.error);
}
}).on('fileuploadprogressall', function (e, data) {
var progress = parseInt(data.loaded / data.total * 100, 10);
$('#progress .progress-bar').css(
'width',
progress + '%'
);
}).on('fileuploaddone', function (e, data) {
$.each(data.result.files, function (index, file) {
if (file.url) {
var link = $('<a>')
.attr('target', '_blank')
.prop('href', file.url);
$(data.context.children()[index])
.wrap(link);
} else if (file.error) {
var error = $('<span class="text-danger"/>').text(file.error);
$(data.context.children()[index])
.append('<br>')
.append(error);
}
});
}).on('fileuploadfail', function (e, data) {
$.each(data.files, function (index, file) {
var error = $('<span class="text-danger"/>').text('File upload failed.');
$(data.context.children()[index])
.append('<br>')
.append(error);
});
}).prop('disabled', !$.support.fileInput)
.parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
{% endblock %}
